{% set counter = 0 %}
{% for feature in record.list_items %}
    {% set counter = counter + 1 %}  {# Update the counter within the loop #}

    <li data-template="{{ counter }}" id="tooltip">
        
        <div data-target="video{{ counter }}" onclick="openNav(this), disableScroll()">
            <!-- #tippy {{ feature.list_text }} start -->
            <div class="tippy-content" style="display: none;">
                <div style="display: none;">
                    <div id="{{ counter }}">
                        <a>{{ feature.tooltip }}</a>
                        <a data-target="video{{ counter }}" onclick="openNav(this), disableScroll()">watch video</a>
                    </div>
                </div>
            </div>
            <!-- #tippy {{ feature.list_text }} end -->
        </div>
        <a>{{ feature.list_text }}</a>
        {# https://docs.boltcms.io/5.0/fields/collection #}
    </li>
{% endfor %}
